/* OVERRIDE */
.navbar {
    margin-bottom: 0px;
}

/* ARTICLES LIST */
.articles ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: #2c3e50;
}

.articles li{
    position: relative;
    padding: 10px 40px 20px 20px;;
    font-size: 14px;
    line-height: 1.214;
    cursor: pointer;
    background: #FFF;
    background-size: 20px 20px;
    -webkit-transition: .25s;
    transition: .25s;
    color: #34495e;
    border-top: 1px solid #34495e;
    border-right: 1px solid #34495e;
    border-left: 1px solid #34495e;
}

.articles li.last{
    border-bottom: 1px solid #34495e;
}

.articles li:hover{
    background: #ecf0f1;
    -webkit-transition: .25s;
    transition: .25s;
}

.articles-icon {
    float: left;
    padding: 0px 22px 0 0;
    font-size: 24px;
}

.articles-icon-right{
    float: right;
    padding: 13px 0px 0 0;
}

.articles-name {
    margin: 1px 0 3px;
    font-size: 17px;
}

.articles-body {
    text-align: center;
}
